.product-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px; /* Spacing between items */
    margin: 20px;
  }
  
  .product-wrap {
    background-color: #fff;
    // border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  .des{
    font-family: var(--heading-font-family);
    font-weight: 300;
    font-style: var(--heading-font-style);
    letter-spacing: var(--heading-letter-spacing);
    text-transform: var(--heading-text-transform);
    overflow-wrap: anywhere;
    color: gray;
    font-size: var(--text-h5);
    line-height:2;
  }
  .old{
    text-decoration: line-through;
    color: gray;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    letter-spacing: var(--heading-letter-spacing);
    text-transform: var(--heading-text-transform);
    font-weight: bold;
    font-size: var(--text-h4);
    line-height: 1.6;
  }
  /* Default styling for desktop and tablet */
.col-xs-4 {
  flex: 0 0 25%; /* Default to 4 items per row */
  max-width: 25%;
}

/* Adjust for mobile view (2 items per row) */
@media (max-width: 576px) {
  .col-xs-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.product-rating {
  i {
    color: #343538;
    margin-right: 5px;

    &.yellow {
      color: #ffa900;
    }
  }}